#*.suo
#*.ide

bin/
obj/
packages/
TestResults/
.axoCover/
.vs/

/Examples/NETStandard2TestLib
Weighing-API-Doc/Help/
Doc/log.log
Weighing-API-Doc/debug.log
Examples/CommandLine/StyleCop.Cache
StyleCop.Cache
