#*.suo
#*.ide

bin/
obj/
packages/
TestResults/
.axoCover/
.vs/

/Examples/NETStandard2TestLib
Doc/log.log
Automation-API-Doc/debug.log
Automation-API-Doc/Help/
Examples/CommandLine/StyleCop.Cache
StyleCop.Cache
